<!-- Begin Subscribe Section -->
<section id="subscribe" class="subscribe image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.subscribeImage }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2 animated hiding" data-animation="fadeInUp" data-delay="0">
            <h3>{{ site.subscribeTitle }}</h3>
            <div class="fb-page" data-href="https://www.facebook.com/GDGBari/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/GDGBari/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/GDGBari/">GDG Bari</a></blockquote></div>
            <br><br>
            <span class="subscribe-info">{{ site.subscribeInfo }}</span>
        </div>
    </div>
</section>
<!-- End Subscribe Section -->
